html {
    scroll-behavior: smooth;
}

body {
    background: #eeefee;
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin: 0;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.w-100 {
    max-width: 100%;
}

.w-20 {
    max-width: 20%;
}

.vh-100 {
    min-height: 100vh;
}

.vh-50 {
    min-height: 50vh;
}

.box {
    width: 30%;
}

.quote {
    font-size: 1.25em;
    margin: 0;
}

.quote-author {
    font-size: 0.75em;
}

.grayed {
    filter: grayscale(100%);
}

.title,
.sub-title,
.center {
    display: block;
    margin: 0 auto;
}

.arrow-down {
    color: #222;
    width: 2em;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

html.sr .fade-in, .img {
    visibility: hidden;
}

.a-left {
    justify-self: left;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@media screen and (max-width: 768px) {
    .w-20 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .img {
        max-width: 100%;
    }
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
    .img {
        max-width: 800px;
    }
}